# ==========================================
# InfoDisplayApp
# ==========================================

# Private camera configuration
camera.conf

# Visual Studio
.vs/

# Build output
bin/
obj/

# User-specific Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Temporary files
*.tmp
*.log

# Ignore publish profiles generally
*.pubxml
!Properties/PublishProfiles/FolderProfile1.pubxml

# But track InfoScreen's shared folder-publish profile
!InfoDisplayApp/Properties/PublishProfiles/FolderProfile1.pubxml